.each-card {
  width: 150px;
  height: 150px;
  left: 652px;
  border-radius: 8px;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.each-card-name {
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #222222;
}
