.features-container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .features-container {
    flex-direction: column;
  }
}

.features-heading {
  font-family: 'Roboto';
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.025em;
  text-align: left;
  color: rgba(43, 39, 48, 1);
  width: 500px;
  height: 128px;
}

.features-para {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.025em;
  text-align: left;
  width: 420px;
  height: 48px;
}

.features-para1 {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.025em;
  text-align: left;
  width: 450px;
  height: 48px;
}
@media screen and (max-width: 767px) {
  .features-heading {
    font-size: 50px;
    font-weight: bold;
    width: 320px;
  }
  .features-para1 {
    width: 280px;
  }
}
.creator-button {
  width: 182px;
  height: 52px;
  padding: 16px, 32px, 16px, 32px;
  border-radius: 32px;
  gap: 8px;
  background-color: rgba(43, 39, 48, 1);
  border: none;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 30px;
}

.feature-image {
  width: 128px;
  height: 128px;
  padding: 4px;
}

.features {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.features-para {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 270px;
  height: 48px;
}
.feature-list-container {
  list-style-type: none;
  padding-left: 0px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  width: 40%;
}
@media screen and (max-width: 767px) {
  .feature-list-container {
    flex-direction: column;
    width: 100%;
  }
  .features-para {
    text-align: center;
  }
}
.feature-list {
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .feature-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
